## **LIBRERÍAS**

In [1]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
from pad_clase import Pad_clase
%matplotlib inline
import os

/home/codespace/.local/lib/python3.12/site-packages/tqdm-4.67.1-py3.12.egg/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

**EJERCICIO 1**

In [2]:
# from actividad_3 import Actividad_3
# import pandas as pd

# # Instanciamos la clase para acceder a la ruta de guardado
# actividad = Actividad_3()
# ruta_guardado = actividad.ruta_guardado  # Obtenemos la ruta completa

# # Creamos el DataFrame con los datos
# datos1 = {
#     'Granadilla': [20],
#     'Tomates': [50]    
# }
# d1 = pd.DataFrame(datos1)

# # Guardamos en Excel
# d1.to_excel(ruta_guardado, sheet_name="Hoja1", index=False, engine="openpyxl")

**EJERCICIO 2**

In [ ]:
d2 =pd.DataFrame({
    'Granadilla': [20, 49],
    'Tomates': [50, 100]    
}, index =['ventas 2021','ventas 2022'])
d2

             Granadilla  Tomates
ventas 2021          20       50
ventas 2022          49      100

**EJERCICIO 3**

In [ ]:
utensilios = pd.Series(
    ["3 unidades", "2 unidades", "4 unidades", "5 unidades"],
    index=["Cuchara", "Tenedor", "Cuchillo", "Plato"],
    name="Cocina"
)

print(utensilios)

Cuchara     3 unidades
Tenedor     2 unidades
Cuchillo    4 unidades
Plato       5 unidades
Name: Cocina, dtype: object

In [ ]:
# ruta_guardado = "src/pad/actividad_3/resultados.xlsx"
# os.makedirs(os.path.dirname(ruta_guardado), exist_ok=True)
# # Guardar ambos en el mismo archivo Excel en hojas diferentes
# with pd.ExcelWriter(ruta_guardado, engine='openpyxl') as writer:
#     d1.to_excel(writer, sheet_name="Ejercicio_1", index=False)
#     d2.to_excel(writer, sheet_name="Ejercicio_2", index=False)

# print(f"Archivo guardado en: {ruta_guardado}")

**EJERCICIO 4**
OBTENER INFORMACIÓN DE kaggle Y CONSTRUIR EL DATAFRAME

In [4]:
padclase = Pad_clase()          
dataset_path = padclase.download_dataset_zip()
csv_dir = padclase.extract_zip_files(dataset_path)
df = padclase.create_csv(csv_dir)
print(df.describe(),df.count,df.info())

Descargando dataset desde Kaggle...
Ruta al dataset: /home/codespace/.cache/kagglehub/datasets/zynicide/wine-reviews/versions/4
No se encontró archivo ZIP pero se detectaron archivos CSV; se asume que el dataset ya se encuentra extraído.
Leyendo /home/codespace/.cache/kagglehub/datasets/zynicide/wine-reviews/versions/4/winemag-data_first150k.csv...
Creando/actualizando
Leyendo /home/codespace/.cache/kagglehub/datasets/zynicide/wine-reviews/versions/4/winemag-data-130k-v2.csv...
Creando/actualizando
cvs creado correctamente en
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB
          Unnamed: 0         points          price
count  129971.000000  129971.000000  120975.000000
mean    64985.000000      88.447138      35.363389
std     37519.540256       3.039730      41.022218
min         0.000000      80.000000       4.000000
25%     32492.500000      86.000000      17.000000
50%     64985.000000      88.000000      25.000000
75%     97477.500000      91.000000      42.000000
max    129970.000000     100.000000    3300.000000 <bound method DataFrame.count of         Unnamed: 0   country  \
0                0     Italy
1                1  Portugal
2                2        US
3                3        US
4                4        US
...            ...       ...
129966      129966   Germany
129967      129967        US
129968      129968    France
129969      129969    France
129970      129970    France

                                              description  \
0       Aromas include tropical fruit, broom, brimston...
1       This is ripe and fruity, a wine that is smooth...
2       Tart and snappy, the flavors of lime flesh and...
3       Pineapple rind, lemon pith and orange blossom ...
4       Much like the regular bottling from 2012, this...
...                                                   ...
129966  Notes of honeysuckle and cantaloupe sweeten th...
129967  Citation is given as much as a decade of bottl...
129968  Well-drained gravel soil gives this wine its c...
129969  A dry style of Pinot Gris, this is crisp with ...
129970  Big, rich and off-dry, this is powered by inte...

                                    designation  points  price  \
0                                 VulkÃ  Bianco      87    NaN
1                                      Avidagos      87   15.0
2                                           NaN      87   14.0
3                          Reserve Late Harvest      87   13.0
4            Vintner's Reserve Wild Child Block      87   65.0
...                                         ...     ...    ...
129966  Brauneberger Juffer-Sonnenuhr SpÃ¤tlese      90   28.0
129967                                      NaN      90   75.0
129968                                    Kritt      90   30.0
129969                                      NaN      90   32.0
129970           Lieu-dit Harth CuvÃ©e Caroline      90   21.0

                 province             region_1           region_2  \
0       Sicily & Sardinia                 Etna                NaN
1                   Douro                  NaN                NaN
2                  Oregon    Willamette Valley  Willamette Valley
3                Michigan  Lake Michigan Shore                NaN
4                  Oregon    Willamette Valley  Willamette Valley
...                   ...                  ...                ...
129966              Mosel                  NaN                NaN
129967             Oregon               Oregon       Oregon Other
129968             Alsace               Alsace                NaN
129969             Alsace               Alsace                NaN
129970             Alsace               Alsace                NaN

               taster_name taster_twitter_handle  \
0          Kerin OâKeefe          @kerinokeefe
1               Roger Voss            @vossroger
2             Paul Gregutt          @paulgwineÂ
3       Alexander Peartree                   NaN
4             Paul Gregutt          @paulgwineÂ
...                    ...                   ...
129966  Anna Lee C. Iijima                   NaN
129967        Paul Gregutt          @paulgwineÂ
129968          Roger Voss            @vossroger
129969          Roger Voss            @vossroger
129970          Roger Voss            @vossroger

                                                    title          variety  \
0                      Nicosia 2013 VulkÃ  Bianco  (Etna)      White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)   Portuguese Red
2           Rainstorm 2013 Pinot Gris (Willamette Valley)       Pinot Gris
3       St. Julian 2013 Reserve Late Harvest Riesling ...         Riesling
4       Sweet Cheeks 2012 Vintner's Reserve Wild Child...       Pinot Noir
...                                                   ...              ...
129966  Dr. H. Thanisch (Erben MÃ¼ller-Burggraef) 2013...         Riesling
129967                  Citation 2004 Pinot Noir (Oregon)       Pinot Noir
129968  Domaine Gresser 2013 Kritt Gewurztraminer (Als...  GewÃ¼rztraminer
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)       Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth CuvÃ©e Ca...  GewÃ¼rztraminer

                                           winery
0                                         Nicosia
1                             Quinta dos Avidagos
2                                       Rainstorm
3                                      St. Julian
4                                    Sweet Cheeks
...                                           ...
129966  Dr. H. Thanisch (Erben MÃ¼ller-Burggraef)
129967                                   Citation
129968                            Domaine Gresser
129969                       Domaine Marcel Deiss
129970                           Domaine Schoffit

[129971 rows x 14 columns]> None

**EJERCICIO 5**
Visualización de las primeras filas

In [7]:
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",VulkÃ Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin OâKeefe,@kerinokeefe,Nicosia 2013 VulkÃ Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwineÂ,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

**EJERCICIO 6**
Usar el método info() para saber cuántas entradas hay

In [ ]:
df.info()
num_entradas = df.shape[0]
print(f"El DataFrame tiene {num_entradas} entradas.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB
El DataFrame tiene 129971 entradas.

**EJERCICIO 7**
Precio promedio

In [ ]:
df['price'].mean()

np.float64(35.363389129985535)

**EJERCICIO 8**
Precio más alto

In [ ]:

df['price'].max()

np.float64(3300.0)

**EJERCICIO 9**
Solo vinos de california

In [8]:
Vinos_california = df[df['country']=='US']
Vinos_california.shape

(54504, 14)

**EJERCICIO 10**
Índice del vino con el precio más alto y su información

In [ ]:
indice_mas_caro = df['price'].idxmax() # Encontrar el índice del vino con el precio más alto
vino_mas_caro = df.loc[indice_mas_caro] # Obtener toda la información de ese vino

# Mostrar el resultado
print("El vino más caro de California es:")
print(vino_mas_caro)

El vino más caro de California es:
Unnamed: 0                                                           80290
country                                                             France
description              This ripe wine shows plenty of blackberry frui...
designation                                                            NaN
points                                                                  88
price                                                               3300.0
province                                                          Bordeaux
region_1                                                            MÃ©doc
region_2                                                               NaN
taster_name                                                     Roger Voss
taster_twitter_handle                                           @vossroger
title                               ChÃ¢teau les Ormes Sorbet 2013  MÃ©doc
variety                                           Bordeaux-style Red Blend
winery                                           ChÃ¢teau les Ormes Sorbet
Name: 80290, dtype: object

**EJERCICIO 11**
Tipos de uvas más comunes

In [ ]:
uvas_mas_comunes = Vinos_california['variety'].value_counts().sort_values(ascending=False) # Sobre la base del ejercicio 9 hago el filtro
uvas_mas_comunes

variety
Pinot Noir                       9885
Cabernet Sauvignon               7315
Chardonnay                       6801
Syrah                            3244
Red Blend                        2972
                                 ...
Cabernet Sauvignon-CarmenÃ¨re       1
Syrah-Petit Verdot                  1
Negroamaro                          1
Moscato Giallo                      1
Alvarinho                           1
Name: count, Length: 257, dtype: int64

**EJERCICIO 12**
Los 10 tipos de uvas más comunes en California

In [ ]:
uvas_mas_comunes.head(10)

variety
Pinot Noir                  9885
Cabernet Sauvignon          7315
Chardonnay                  6801
Syrah                       3244
Red Blend                   2972
Zinfandel                   2711
Merlot                      2311
Sauvignon Blanc             2163
Bordeaux-style Red Blend    1824
Riesling                    1753
Name: count, dtype: int64